* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;

  justify-content: center;
  min-height: 100vh;
  background: whitesmoke;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
}

/*-----------------------------------------------------------------------------------*/
/*--------------------------------------admin panel----------------------------------*/
.form-group {
  margin-bottom: 10px;
}

#mealImage {
  margin-bottom: 10px;
}

#previewImage {
  width: 300px;
  max-width: 300px;

  margin-top: 10px;
  border: 1px solid black;
}

.takvimharic .Form,
.form-group .Form {
  border: 1px solid black;
  width: 50%;

  justify-content: center;
  position: static;
  background-color: white;
  padding: 50px;
}

.form-group {
  height: 50px;
}

.label1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  margin: 30px;
}

.meal-list {
  margin: 0px 0px 0px 0px;
  border: 1px solid black;
  width: 50%;

  justify-content: center;
  background-color: white;
  padding: 50px;
}
.meal-list label,
select {
  display: block;
  margin-bottom: 10px;
}
.takvimharic {
  display: flex;
  flex-wrap: wrap;
  height: 23%;
}
.labelbox {
  width: 50%;
}

/*--------------------------------------mobil----------------------------------*/
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media (max-width: 500px) {
  .sidebar {
    display: flex;
  }
  .menu-button {
    display: flex;
  }
}
/*-----------------------------------------------------------------------------------*/
