/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
  background: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  width: 100%;
}
.wrapper-calendar {
  width: 100%;
}
.adminPanel {
  width: 100%;
}

/*---------Slider---------*/
#myCarousel {
  border-top: 2px solid rgba(16, 57, 113, 255);
}
.carousel-item {
  height: 30rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background: #fff;
}

.overlay-image {
  position: absolute;
  width: 100%;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.content {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: transparent;
}
.content h6 {
  position: relative;
  background: transparent;
  transform: translateX(-50%);
  text-align: center;
  left: 50%;
}
/*--------Rating-----------*/
.rating-wrapper {
  border-top: 2px solid rgba(16, 57, 113, 255);
  border-bottom: 2px solid rgba(16, 57, 113, 255);
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rating {
  display: flex;
  height: 6vh;
  width: 100%;
  padding: 2%;
  margin-top: 1%;
}

.rating div {
  color: rgba(16, 57, 113, 255);
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.rating input {
  display: none;
}

.rating input + label {
  font-size: 4vh;
  cursor: pointer;
}

.rating input:checked + label ~ label {
  color: #bdbbbb;
}

.rating label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.star-icon {
  padding-left: 5%;
}
.star-icon,
.headRating {
  display: flex;
  justify-content: start;
  text-align: start;
}

.rating-submit {
  width: 100%;
  background-color: rgba(16, 57, 113, 255);
  color: white;
  margin-top: 3%;
}

.rating-image {
  height: 4vh;
  width: 6vh;
  padding-right: 10px;
  border-radius: 6vh;
  position: relative;
}

.rating-image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
