/*--------------------SIDEBAR-------------------------*/
nav {
  background-color: rgba(16, 57, 113, 255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a,
nav p {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover,
nav p:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: blue;
}
nav li:first-child {
  margin-right: auto;
}
.header {
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: rgba(16, 57, 113, 0.8);
  z-index: 999;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}

.header {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media (max-width: 700px) {
  .menu-button {
    display: flex;
  }
}
