table {
  width: 200px;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  padding: 5px;
  text-align: center;
}
.takvim {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black !important;
  width: 70%;
  margin-left: 16%;
}

.box-takvim {
  width: 200px;
  margin: 35px;
}
