table {
  width: 200px;
  border-collapse: collapse;
  margin: 20px auto;
}
.textg {
  text-align: center;
  font-size: 35px;
}
th,
td {
  padding: 5px;
  text-align: center;
}
.takvim {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black !important;
}

.box-takvim {
  width: 20%;

  border: 0.5px solid black !important;
}

.takvim-gun {
  background-color: white;
}
@media (max-width: 1031px) {
  .box-takvim {
    width: 100%;
  }
  .takvimharic {
    height: 10%;
  }
}
